{% extends 'base.html' %}
{% block title %}
Edit Feedback
{% endblock %}

{% block content %}
<h1 class="display-1">Edit Feedback</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}
        {{ form.title(class_="form-control", maxlength=100, value=fb.title) }}
        {% for error in form.title.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.content.label }}
        {{ form.content(class_="form-control", cols="35", rows="10") }}
        {% for error in form.title.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <button class="btn btn-success mt-2">Submit Edit</button>
    <a class="btn btn-secondary mt-2" href="/users/{{fb.user.username}}">Cancel</a>
</form>
{% endblock %}